*.py text eol=lf working-tree-encoding=UTF-8
*.spec text eol=lf working-tree-encoding=UTF-8
*.md text eol=lf working-tree-encoding=UTF-8
*.json text eol=lf working-tree-encoding=UTF-8
*.bat text eol=crlf working-tree-encoding=UTF-8
*.sh text eol=lf working-tree-encoding=UTF-8
